.card__like-icon {
  width: 22px;
  height: 19px;
  border: 0;
  background: url(./../../../images/vector_like.svg) center;
  background-image: no-repeat;
  background-size: 100%;
  cursor: pointer;
  /*background-position: center;*/
  /* background-color: transparent; */
  /* padding: 0; */
  /*margin: 0; */

}

.card__like-icon:hover {
    opacity: 50%;
    transform: scale(1.2);
}
