.header__logo {
    display: block;
    width: 142px;
    margin-bottom: 41px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        width: 104px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        margin-left: 27px;
        margin-bottom: 31px;
    }
}
