.popup__container {
    position: relative;
    display: grid;
    flex-direction: column;
    align-self: center;
    margin: auto;
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 282px;
    }
}



